.main-header {
    max-width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #f9f4e8;
    font-family: 'Lato', sans-serif;
}

