.main-input {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.e-mail {
    width: 380px;
    height: 59px;
    border: none;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    color: rgb(143, 137, 137);
    font-size: 16px;
    margin-right: 10px;
    padding-left: 15px;
}
