.main-footer {
    width: 100%;
    margin: auto;
    
    background-color: #f9f4e8;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.talk {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 220px;
}

@media (max-width: 640px) {
    .main-footer {
        flex-direction: column;
        gap: 20px;
    }
}