.main-section {
    max-width: 1250px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: #f9f4e8;   
}

@media (max-width: 1100px) {
    .main-section {
        flex-direction: column;
    }

    .main-section > .main-assets {
        order: -1;
    }
}