.main-menu {
    max-width: 1250px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    display: flex;
    align-items: center;   
}

@media (max-width: 890px) {
    .main-menu > nav {
        display: none;
    }

    .singin {
        display: none;
    }

}